.section {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 360px;
  outline: 1px solid tomato;
}

/* @media screen and (max-width: 768px) {
  width: 768px;
} */
/* @media screen and (min-width: 1169px) {
  width: 1920px;
} */
/* 
.section {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  outline: 1px solid aqua;
  width: 375px;
} */
