@import "../../assets/styles/sizes";
@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";

.titleHero {
  padding-bottom: 21px;
  padding-top: $size8;
  margin: 0;
  font-size: $size8;
  text-align: center;
  color: $color-white;
  @include font-heading;
}

.textHero {
  margin: 0;
  padding-bottom: $size7;
  text-align: center;
  color: $color-white;
  text-align: center;
  @include font-bodying;
}

.hero {
  background-image: url("../../assets/img/bg-hero-mobile.jpg");
  padding-bottom: 70px;
}

// .button {
//   padding-bottom: 50px;
// }

// .button {
//   width: 100px;
//   height: 34px;
//   background-color: $color-primary;
//   border-radius: $size12;
//   text-align: center;
//   padding-top: $size1;
//   padding-bottom: $size1;
//   border: none;
//   margin-bottom: 71px;
// }
// .button:hover {
//   background-color: $color-primary-bright;
// }
