@import "../../assets/styles/colors";
@import "../../assets/styles/sizes";

.title {
  margin: 0;
  padding-top: 138px;
  font-size: $size8;
  line-height: 1;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  padding-bottom: 50px;
}

.item {
  background-color: $color-white;
  text-align: center;
  outline: 1px solid tomato;
  padding: $size5;
  margin: 0px;
  list-style: none;

  &:not(:last-child) {
    margin-bottom: $size5;
  }
}

.menu {
  // display: flex;
  // align-items: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.name {
  margin-top: $size5;
  margin-bottom: 0px;
}
.position {
  margin-top: $size5;
  margin-bottom: 0px;
}

// .color {
//   background-color: black;
// }
