$color-primary: #f4e041;
$color-primary-bright: #ffe302;
$color-grey: #b4b4b4;
$color-bg: #f8f8f8;
$color-secondary: #00bdd3;
$color-black: rgba(0, 0, 0, 0.87);
$color-radio-button: #d0cfcf;

:export {
  colorPrimary: $color-primary;
  colorPrimaryBright: $color-primary-bright;
  colorGrey: $color-grey;
  colorBg: $color-bg;
  colorSecondary: $color-secondary;
  colorBlack: $color-black;
  colorRadioButton: $color-radio-button;
}
